/* Universal */

body {
    font-family: sans-serif, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

span {
    text-decoration: none !important;
}

html,
body {
    height: 100%;
}

#content {
    flex: 1 0 auto;
}

#footer {
    flex-shrink: 0;
}

a {
    color: crimson;
}

a:hover {
    filter: brightness(80%);
}

.meta {
    color: #788193;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.cc-window {
    border: 1px solid black;
}

.cc-link {
    padding: 5px 0;
}

/* Navbar */

#navigation {
    width: 100%;
    background: whitesmoke;
}

.mob-header {
    display: none;
}

.navbar {
    box-sizing: border-box;
    background: whitesmoke;
    font-family: sans-serif;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    height: 80px;
    max-width: 1000px;
    padding: 10px;
}

#search-bar {
    height: 50px;
    width: 100%;
    padding: 5px;
    display: none;
    align-items: center;
}

#search-bar label {
    margin: 10px;
}

#search-bar input {
    width: 100%;
    font-family: sans-serif, serif;
    height: 100%;
    border: none;
    padding: 15px;
}

.nav-item:hover {
    color: dimgrey;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: .8rem;
}

.nav-icon {
    font-size: 1rem;
    padding: 0 5px;
    float: right;
}

.nav-icon p {
    margin-left: 5px;
}

.nav-icon:first-child,
:not(.nav-icon)+.nav-icon {
    margin-left: auto;
}

.deslogo img {

    height: 100%;
}

/* Footer */

#footer {
    font-weight: bold;
    background: whitesmoke;
    font-size: .8rem;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.foot-text {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
    line-height: 1.5em;
    padding: 0;
}

/* Homepage */
#content {
    text-align: center;
}

.divider {
    width: 100%;
    height: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section {
    padding: 10px;
}

#content h1 {
    font-size: 1.4rem;
}

.section .post {
    width: 33%;
    flex-grow: 1;
    padding: 5px;
}

.post img {
    display: block;
}

/* Media Queries */
@media only screen and (max-width: 950px) {

    #search-bar {
        display: none !important;
    }

    .mob-header {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .mob-header img {
        padding-bottom: 0;
        margin: 0 5px;
        height: 50px;
    }

    .navbar {
        height: 35px;
    }

    .nav-icon {
        display: none;
    }

    .deslogo {
        display: none;
    }

    .nav-item,
    .footer {
        font-size: .8rem;
        padding: 0 5px;
    }

    .navbar {
        justify-content: center;
    }
}