/* Universal */

body {
    font-family: sans-serif, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

a {
    color: #fd4145
}

a:hover {
    color: #e32e32;
}

.meta {
    color: #788193;
}

/* Navbar */

.fullnav {
    width: 100%;
    background: whitesmoke;
}

.navbar {
    background: whitesmoke;
    font-family: sans-serif;
    display: flex;
    margin: 0 auto;
    flex-wrap: nowrap;
    height: 50px;
    max-width: 1200px;
}

.nav-item:hover {
    color: dimgrey;
}

.nav-item {
    color: black;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: small;
}

.nav-icon {
    float: right;
    font-size: large;
    max-width: 2em;
}

.nav-icon:first-child,
:not(.nav-icon)+.nav-icon {
    margin-left: auto;
}

.deslogo {
    margin: 0 10px;
    margin-left: 0;
    padding: 0;
}

.deslogo {
    padding: 5px;
    height: 100%;
}

.moblogo {
    display: none;
    padding: 5px;
    height: 100%;
}

/* Footer */

.footer {
    background: whitesmoke;
    text-align: left;
    font-size: small;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.foot-space {
    filter: brightness(200%) grayscale(100%) opacity(0.7);
}

.foot-text {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    list-style-type: none;
    line-height: 1.5em;
}

.fullfoot {
    background: whitesmoke;
    width: 100%;
}

/* Media Queries */
@media only screen and (max-width: 800px) {

    /* Header */
    .deslogo {
        display: none;
    }

    .moblogo {
        display: flex;
    }

    .nav-icon {
        display: none;
    }

    .navbar {
        justify-content: center;
    }
}